			{%- include tabs.liquid size=3 %}<header id="header" class="top-menu">
				<div id="stuck_container">
					<div class="container">
						<div class="row">
							<div class="grid_12">
								<div class="brand put-left">
									<h1><a href="/"><img src="/images/logo.png" alt="eQuantum Project | A Unique Kind of Mapping System - Open Source"/></a></h1>
								</div>
								<nav class="nav put-right">
									<ul class="sf-menu">
										{%- include tabs.liquid size=10 -%}
										{%- include templates/nodes/tabs.html %}{{- nodes }}
									</ul>
								</nav>
								<div class="loadingImg"></div><div id="diagram" class="diagram"></div>
								<div id="graphiql"></div ><div id="viewport"><canvas></canvas></div >
							</div>
						</div>
					</div>
				</div>
			</header>
