			{%- include tabs.liquid size=3 %}<header id="header" class="top-menu">
				<div id="stuck_container">
					<div class="container">
						<div class="row">
							<div class="grid_12">
								<div class="brand put-left">
									<h1><div class="loadingImg"><a href="/"><img src="/images/logo.png" alt="eQuantum Project | A Unique Kind of Mapping System - Open Source"/></div></a></h1>
								</div>
								<div id="diagram" class="diagram put-right">
									<nav class="nav">
										{%- include templates/nodes/tabs.html -%}{{- nodes -}}
									</nav>
								</div>
								<div id="graphiql"></div ><div id="viewport"><canvas></canvas></div >
							</div>
						</div>
					</div>
				</div>
			</header>
