			<section id="l-main">
				<div class="container">
					<div class="row">
						{% include templates/sidebar.html %}
						<div class="content-wrap">
							<div id="content" class="col-xs-12 col-sm-9 col-sm-push-3">
								<hr>
								{% if page.needs_anwser %}
									{% include needs_answer.html %}
								{% endif %}
								<div role="main" itemscope="itemscope" itemtype="https://schema.org/Article">
									<div class="markdown-body" itemprop="articleBody">
										{{ content }}
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
