			<section id="l-main">
			<div class="container">
				<div class="row">
					<div id="content" class="col-xs-12 col-sm-9 col-sm-push-3">
						{% if page.needs_anwser %}
							{% include needs_answer.html %}
						{% endif %}
						{{ content }}
						<hr>
						{% include disqus_load.html %}
					</div>
					<div class="col-xs-12 col-sm-3 col-sm-pull-9 sidebar">
						<div class="grid_4">
							<div class="wrap_10">
								<h2 class="header_2 indent_3">
									Categories
								</h2>
								<ul class="list_2 text_3 color_5">
									<li><a href="#">trading</a></li>
									<li><a href="#">finance</a></li>
									<li><a href="#">hosting</a></li>
									<li><a href="#">investment</a></li>
									<li><a href="#">loan</a></li>
									<li><a href="#">credit</a></li>
									<li><a href="#">map direction</a></li>
									<li><a href="#">process definition</a></li>
									<li><a href="#">fund</a></li>
									<li><a href="#">analysis</a></li>
									<li><a href="#">concept</a></li>
									<li><a href="#">script</a></li>
									<li><a href="#">program</a></li>
									<li><a href="#">earn money</a></li>
									<li><a href="#">monitor script</a></li>
									<li><a href="#">real investment</a></li>
									<li><a href="#">mind mapping</a></li>
									<li><a href="#">software</a></li>
									<li><a href="#">mapping diagrams</a></li>
								</ul>
							</div>
						</div>
						<div class="grid_4">
							<div class="wrap_10">
								<h2 class="header_2 indent_3">
									Tagging
								</h2>
								<ul class="list_2 text_3 color_5">
									<li><a href="#">online investment</a></li>
									<li><a href="#">high yield investment</a></li>
									<li><a href="#">investment scam</a></li>
									<li><a href="#">quantum programs</a></li>
									<li><a href="#">quantum monitor</a></li>
									<li><a href="#">quantum forum</a></li>
									<li><a href="#">quantum paypal</a></li>
									<li><a href="#">quantum calculator</a></li>
									<li><a href="#">legit quantum</a></li>
									<li><a href="#">quantum analysis</a></li>
									<li><a href="#">quantum sites</a></li>
									<li><a href="#">quantum script</a></li>
									<li><a href="#">paying quantum programs</a></li>
									<li><a href="#">perfect money</a></li>
									<li><a href="#">quantum monitor script</a></li>
									<li><a href="#">real quantum investment</a></li>
									<li><a href="#">longest running quantum</a></li>
									<li><a href="#">current paying quantums</a></li>
									<li><a href="#">all monitor quantum</a></li>
									<li><a href="/">Home</a>
								</ul>
							</div>
						</div>
						<div class="grid_4">
							<div class="wrap_10">
								<h2 class="header_2 indent_3">
									Section
								</h2>
								<ul class="list_2 text_3 color_5">
									<li><a href="#">online investment</a></li>
									<li><a href="#">high yield investment</a></li>
									<li><a href="#">investment scam</a></li>
									<li><a href="#">quantum programs</a></li>
									<li><a href="#">quantum monitor</a></li>
									<li><a href="#">quantum forum</a></li>
									<li><a href="#">quantum paypal</a></li>
									<li><a href="#">quantum calculator</a></li>
									<li><a href="#">legit quantum</a></li>
									<li><a href="#">quantum analysis</a></li>
									<li><a href="#">quantum sites</a></li>
									<li><a href="#">quantum script</a></li>
									<li><a href="#">paying quantum programs</a></li>
									<li><a href="#">perfect money</a></li>
									<li><a href="#">quantum monitor script</a></li>
									<li><a href="#">real quantum investment</a></li>
									<li><a href="#">longest running quantum</a></li>
									<li><a href="#">current paying quantums</a></li>
									<li><a href="#">all monitor quantum</a></li>
									<li><a href="/">Home</a>
								</ul>
							</div>
						</div>
						<div class="grid_4">
							<div class="wrap_10">
								<h2 class="header_2 indent_3">
									Group
								</h2>
								<ul class="list_2 text_3 color_5">
									{%- include templates/nodes/tabs.html -%}{{- nodes }}
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
			</section>
