{%-  assign title = titles[layer]            -%}
{%-  assign baseurl = title | prepend: "/"   -%}

{%-  assign title_order = '('
       | append: id
       | append: ') '
       | append: order                       -%}

{%-  assign stage = '['
       | append: num
       | append: ';'
       | append: order
       | append: ';'
       | append: width
       | append: ']('
       | append: weight
       | append: ';'
       | append: expanse
       | append: ';'
       | append: property
       | append: ')'                         -%}

{%-   for prime in primes                    -%}
{%-     if id < prime                        -%}
{%-       break                              -%}
{%-     endif                                -%}
{%-   endfor                                 -%}

{%-  assign array_expanse = weight
       | plus: expanse                       
       | plus: property                     
-%}
	   
{%-  assign array_sequence = width 
       | minus: weight                       
       | plus: expanse                       
-%}
	   
{%-  assign details = '('
       | append: layer
       | append: ','
       | append: array_size
       | append: ','
       | append: prime
       | append: ','
       | append: array_expanse
       | append: ','
       | append: array_sequence
       | append: ')'
       | append: tag                         -%}

{%-  assign list = '<li data-id="'
       | append: stage
       | append: '"'                         -%}

{%-  assign node = list
       | append: '><a href="'
       | append: baseurl
       | append: '" id='
       | append: id
       | append: ' aria-details="'
       | append: details
       | append: '">'
       | append: title_order
       | append: '</a></li>'                 -%}

{%-  capture nodes                           -%}
{{     nodes                                  }}
{%     include tabs.liquid size=14 %}{{ node  }}
{%-  endcapture                              -%}

