{%-  assign title = titles[layer]           -%}
{%-  assign baseurl = title | prepend: "/"  -%}

{%-  assign stage = '['
       | append: num
       | append: ';'
       | append: probe
       | append: ';'
       | append: width
       | append: ']('
       | append: property
       | append: size
       | append: ';'
       | append: weight
       | append: ';'
       | append: loop
       | append: ')'                        -%}

{%-  assign details = '('
       | append: lexer
       | append: ','
       | append: parser
       | append: ','
       | append: grammar
       | append: ')'
       | append: tag                        -%}

{%-  assign list = '<li data-id="'
       | append: stage
       | append: '"'                        -%}

{%-  assign node = list
       | append: '><a href="'
       | append: baseurl
       | append: '" id='
       | append: id
       | append: ' aria-details="'
       | append: details
       | append: '">'
       | append: id
       | append: '</a></li>'                -%}

{%-  capture nodes                          -%}
{{     nodes                                 }}
{%     include tabs.liquid size=14 %}{{ node }}
{%-  endcapture                             -%}

{%- if _stage contains id                  -%}

{%-   assign node_type = "main"            -%}
{%-   assign layer = layer | plus: 1       -%}
{%-   include core/_node.liquid            -%}

{%- elsif _branch contains id              -%}

{%-   assign node_type = "branch"          -%}
{%-   include core/_node.liquid            -%}

{%- endif                                  -%}
