{%-  assign title = titles[layer]           -%}
{%-  assign baseurl = title | prepend: "/"  -%}

{%-  assign node = '<li id='
       | append: id
       | append: '><a href="'
       | append: baseurl
       | append: '" data-id="'
       | append: details
       | append: '" aria-details="'
       | append: stage
       | append: '">('
       | append: loop
       | append: ')'
       | append: id
       | append: '</a></li>'                -%}

{%-  capture nodes                          -%}
{{     nodes                                 }}
{%     include tabs.liquid size=14 %}{{ node }}
{%-  endcapture                             -%}

{%- if _stage contains id                   -%}

{%-   assign node_type = "main"             -%}
{%-   assign layer = layer | plus: 1        -%}
{%-   include core/_node.liquid             -%}

{%- elsif _branch contains id               -%}

{%-   assign node_type = "branch"           -%}
{%-   include core/_node.liquid             -%}

{%- endif                                   -%}
