		{%- include tabs.liquid size=2 -%}<!-- Google Tag Manager (noscript) -->
		<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KKD75D8" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
		<!-- End Google Tag Manager (noscript) -->
		<div class="templatemo-top-bar" id="templatemo-top">
			<div class="container">
				<div class="subheader">
					<div id="phone" class="pull-left">
						<img loading="eager" src="/icon/globe-16x16.png" alt="{{ site.description }}"/>
						<a id="feed_json" href="/feed.json" target="_blank" class="link_orange"><span class="txt_orange">Site Feed </span></a>
					</div>
					<div id="email" class="pull-right">
						<img loading="eager" src="/icon/favicon-16x16.png" alt="{{ site.impressum }}"/>
						<a id="feeds_xml" href="/feeds.xml" target="_blank" class="link_orange"><span class="txt_orange">Site Maps </span></a>
					</div>
				</div>
			</div>
		</div>
		<header id="header" class="top-menu">
			<div class="container" id="stuck_container">
				<div class="row">
					<div class="grid_12">
						<div class="navbar-brand put-left">
							<h1><a href="/"><img src="logo.png" alt="{{ site.slogan }}"/></a></h1>
						</div>
						<nav class="nav navbar-nav navbar-right">
							<ul style="margin-top: 40px;">
								<li class="active"><a href="#templatemo-top">Beranda</a></li>{% for menu in layout.menus %}
								<li><a href="#chetabahana-{{ menu }}">{{ menu }}</a></li>{% endfor %}
							</ul>
						</nav>
					</div>
				</div>
			</div>
		</header>